<!DOCTYPE html>
<html>
<head>
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-contents">
        {{>header}}


    <h1>{{title}}</h1>
    <p>{{message}}</p>
    </div>
    
    {{>footer}}
</body>

</html>